**pycache**/
*.py[cod]
*.pyo

venv/
ENV/
env/
.venv/
bin/
lib/
lib64/
include/
share/
pyvenv.cfg

db.sqlite3
django_project/db.sqlite3

*.log
.env

.vscode/
.idea/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

data/**
!data/**/
!data/**/.gitkeep
!data/README.md
